PORT=3001
NODE_ENV=development
DATABASE_URL=postgres://usuario:password@host/dbname?sslmode=require
ADMIN_PASSWORD=tu_clave_admin
JWT_SECRET=tu_clave_secreta_jwt
FRONTEND_URL=http://localhost:5173
# SCHEMA_PATH=../../diseño/schema.sql
